{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="general wrapper clearfix">
        <hgroup class="first twelvecol">
          <h1>{{title}}</h1>
          {{form.non_field_errors}}
        </hgroup>

        <article class="first eightcol container">
            <div class="content">
                <form method="post" action="{% url 'password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if request.user.status == 'new' %}
                        <input type="submit" value="Create Account" />
                    {% else %}
                        <input type="submit" value="Set Password" />
                    {% endif %}
                </form>
            </div>
        </article>
    </div>
{% endblock %}